server.pid
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
config/secrets.yml.key
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
.env

# Ignore encrypted secrets key file.
config/secrets.yml.key
arduino/config.h
