// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #notif-toggle-checkbox {
//   @include override-switchery();
// }

.card-container.settings-container {
  padding: 30px;
  @include media-breakpoint-up(lg) {
    align-items: flex-start;
  }
}

.card.settings-card {
  color: black;
  background: white;
  box-sizing: inherit;
  @include media-breakpoint-up(lg) {
    padding: 30px 90px;
  }
}

label {
  font-size: 35px;
  font-weight: 400;
  color: #515151;
  @include media-breakpoint-up(lg) {
    font-size: 25px;
    font-weight: 300;
  }
}

.wat {
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  align-items: center;
  @include media-breakpoint-up(lg) {
  }
}

.title {
  @include media-breakpoint-up(lg) {
    font-size: 40px;
  }
}

.header-hr {
  margin-bottom: 20%;
  @include media-breakpoint-up(lg) {
    margin-bottom: 10%;
  }
}

.profile-photo {
}

.profile-photo img {
  height: 100px;
  width: 100px;
  @include media-breakpoint-up(lg) {
    height: 75px;
    width: 75px;
  }
}

#email, #phone {
  height: 60px;
  width: 350px;
  font-size: 30px;
  border: none;
  color: #959393;
  @include media-breakpoint-up(lg) {
    height: 40px;
    width: 250px;
    font-size: 20px;
  }
}

#ideal_temperature {
  height: 60px;
  width: 110px;
  font-size: 30px;
  border: none;
  color: #959393;
  text-align: right;
  @include media-breakpoint-up(lg) {
    height: 40px;
    width: 250px;
    font-size: 20px;
  }
}

.block {
  display: block;
}

.switchery-large, #ideal_temperature {
  float: right;
}

.notif {
  margin-top: 20%;
  @include media-breakpoint-up(lg) {
    margin-top: 10%;
  }
}

.notif-title {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
  @include media-breakpoint-up(lg) {
    font-size: 25px;
  }
}


.selected:hover {
  opacity: 0.5;
}

.item-fade{
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.buttons {
  justify-content: space-between;
  display:flex;
  margin-top: 60px;
}

.settings-save-btn {
  font-size: 40px;
  width: 170px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    width: 130px;
  }
}

.settings-back-btn {
  font-size: 40px;
  width: 170px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    width: 130px;
  }
}
